{% extends "base_html.html" %}
{% block content %}

<hr>
 {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %}
        <form action="{{  url_for('book_add') }}" method="POST">
            <div class="form-group">
                <h3>Book Details</h3>
                <input type="text" name="book_id" placeholder="Book ID" value="{{book_id}}" /><br>
                <input type="text" name="title" placeholder="Book Title" value="{{book_title}}" /><br>
                <input type="text" name="author" placeholder="Book Author" value="{{book_author}}" /><br><br>
            </div>

            <input type="submit" value="Save Book Details" class="btn" />
        </form>
{% endblock %}